{% extends 'base.html' %}

{% block title %} {{producto.nombre}} {% endblock %}

{% block content %}

<h1>{{ producto.nombre }} </h1>
<img src="/media/{{ producto.imagen }}" width="150px" height="150px">
</br>
<p> Descripción: {{producto.descripcion}} </p>
<p> Precio: {{producto.precio}} </p>
<p> Cantidad en Existencia: {{producto.stock}} Unidades </p>

{% if producto.stock > 0 %}
	<a class="btn" href="#">

    <i class="icon-shopping-cart"></i>

     Comprar

</a>
	<br/>
	<br/>
{% endif %}


<!-- <a href="javascript:window.history.go(-1)" class="btn btn-primary">Regresar al Listado</a> -->

<!--Regresar a Page 1-->
<a href="/productos/page/1/" class="btn btn-primary">Regresar al Listado</a>
{% endblock %}

